<% provide(:title, 'Comment') %>
<h1>Leave a comment</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for([@post, @post.comments.build]) do |f| %>

  	<%= f.label :commenter %><br />
  	<%= f.text_field :commenter %>
 
  	<%= f.label :body %><br />
  	<%= f.text_area :body %>

  	<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>