<div class="row">
  <div class="span6 offset1">
    <%= form_for([@post, @post.comments.build]) do |f| %>

  	<%= f.label "your name" %><br />
  	<%= f.text_field :commenter %>
 
  	<%= f.label "comment" %><br />
  	<%= f.text_area :body %>

  	<%= f.submit "submit comment", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>