<% @posts.each do |post| %>
  <h1></u><%= link_to post.title, post %></u></h1>
  <p>
    <%= post.content %>
    <div class="pull-right">
      <%= link_to 'Edit', edit_post_path(post), class: "btn btn-mini btn-success" %>
      <%= link_to 'Destroy', post, class: "btn btn-mini btn-danger", method: :delete, 
                                          data: { confirm: 'Are you sure?' } %>
    </div>
  </p>
  <br />
  <br />
  <br />
  <div class="center">
    <%= link_to 'New Blog Post', new_post_path, class: "btn btn-large" %>
  </div>
<% end %>