<% provide(:title, @post.title) %>
<div>
  <h5><%= @post.title %></h5>
  <span class="timestamp">
    Posted on <%= (@post.created_at).strftime "%B %d, %Y" %>
  </span>
  <p class="lead"><%= @post.content %></p>
  <p><%= join_tags(@post) %></p>
</div>
<div>
  <h2>Comments (<%= @post.comments.count %>)</h2>
  <%= render @post.comments %>
</div>
<% if signed_in? %>
<div>
  <h2>Add a comment:</h2>
  <%= render "comments/form" %>
</div>
<br />
<% else %>
<h2>
  Want to leave a comment?
  <%= link_to "Sign in", signin_path %> or
  <%= link_to "create an account", signup_path %>.
</h2>
<% end %>