<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
  	<%= render 'layouts/header' %>
  	<div class="container">
      <div class="center hero-unit">
        <h1>Welcome to Jerm Disorder</h1>
        <h2>the ongoing blog of an aspiring developer</h2>
      </div>
      <div class="center">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        <% end %>
      </div>
      <div class="row">
        <div class="span9">
          <%= yield %>
        </div>
        <div class="span3">
          <%= render 'layouts/sidebar' %>
        </div>
  	  </div>
    </div>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %> 
  </body>
</html>
